<!-- Inicio Permiso Formularios -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-warning">Gestión de Permiso Formulario</h6>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <%= simple_form_for(@opcion_ca) do |f| %>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
              <div class="row">
                <div class="col-4">
                  <%= f.association :opcion, collection: Opcion.where("estado='A'").order("id DESC"), value_method: :id, label_method: :nombre,  label: "Opción", include_blank: "Seleccione una opción", input_html: { class: "select2", id: 'opcion_id', required: true} %>
                </div>
                <div class="col-4">
                  <%= f.association :componente, collection: Componente.where("estado='A'").order("id DESC"), value_method: :id, label_method: :nombre,  label: "Componente", include_blank: "Seleccione un componente", input_html: { class: "select2", id: 'componente_id', required: true} %>
                </div>
                <div class="col-4">
                  <%= f.association :atributo, collection: Atributo.where("estado='A'").order("id DESC"), value_method: :id, label_method: :nombre,  label: "Atributo", include_blank: "Seleccione un atributo", input_html: { class: "select2", id: 'atributo_id', required: true} %>
                </div>
              </div>
              <%= f.input :descripcion, as: :text, input_html: {rows: 3} %>
            </div>
            <br/>

            <div class="row">
              <div class="col-md-12 text-center">
                <!--< if tiene_permiso("BOTON REGISTRAR", "VER") %>-->
                <%= button_tag f.submit, class: "btn btn-outline-success btn-sm", data: {controller: 'sweetalert', action: 'click->sweetalert#btnConfirmar',
                                                                                         sweetalert_confirm_alert_value: "#{titulo_opcion_ca}",
                                                                                         sweetalert_cancel_alert_value: "Cancelado",
                                                                                         sweetalert_confirm_title_value: 'Esta seguro de aplicar cambios a <strong style="color: #1d71b9; font-weight: bold;"><p>'+"#{@opcion_ca.id}?"+'</p></strong>',
                                                                                         sweetalert_confirm_btn_value: '<i class="fas fa-check-circle"></i> <strong>Si, '+"#{titulo_opcion_ca}"+'</strong>',
                                                                                         sweetalert_cancel_btn_value: '<i class="fas fa-times-circle"></i> <strong>No, Cancelar</strong>',
                                                                                         sweetalert_cancel_title_value: 'Se ha cancelado el evento <strong>'+"#{titulo_opcion_ca.upcase}"+'</strong> <p style="color: #1d71b9; font-weight: bold;">'+"#{@opcion_ca.id}"+'</p>' } do %>
                    <span class="icon text-green-50">
                      <i class="fas fa-edit"></i>
                    </span>
                  <span class="text"><%= titulo_opcion_ca.upcase %></span>
                <%end%>
                <!--< end %>-->
                <%= link_to opcion_cas_path, class: "btn btn-outline-danger btn-sm" do %>
                  <span class="icon text-red-50">
                    <i class="fas fa-arrow-circle-left"></i>
                  </span>
                  <span class="text">CANCELAR</span>
                <%end%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
